#title {
  margin: 0;
  padding: 0;
  align-self: center;
  font-size: 32px;
}

.container {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 60%;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: "center";
  width: 40%;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-self: center;
  background-color: "#fff";
  width: 80%;
  box-shadow: 0px 20px 25px -5px rgb(0 0 0 / 10%),
    0 10px 20px 20px rgb(0 0 0 / 4%);
  border-radius: 16px;
}
.label {
  margin: 8px 0px;
  font-weight: 600;
  font-size: 20px;
}
.input {
  padding: 12px 12px;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 12px;
  font-size: 16px;
}
.input:focus {
  box-shadow: 0px 20px 25px -5px rgb(0 0 0 / 10%);
}
.check-box-container {
  display: flex;
  align-items: center;
  margin: 8px 0px;
}
.check-box {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;
}
.error {
  font-size: 12px;
  color: tomato;
  font-weight: 600;
  /* margin: 8px 0px; */
  align-self: center;
}
.submit-button {
  margin-top: 30px;
  border: 1px solid gold;
  color: gold;
  background-color: transparent;
  padding: 8px 0px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
}
.submit-button:hover {
  background-color: gold;
  color: white;
}
.forgot-password {
  align-self: flex-end;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 700;
}
@media screen and (max-width: 668px) {
  .background-image {
    display: none;
  }
  .login-container {
    width: 100%;
  }

  .form {
    padding: 1rem;
  }
}
